<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="qrcode.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二维码</title>   
    <link rel="stylesheet" href="bootstrap.min.css" />
    <script type="text/javascript">
    var routes = [];
    var isvalid,qrcode,url, token,cookies,okl_token,uname
    function qrcodeqenerate(){
        uname=$('#weixin').val().trim();
        if(!!uname){
            $.post(routes.qrcode, {"name": uname}, function(data){
                console.log('data',data)
                    if(typeof data=="string" && data.indexOf('pt_key=')>=0)
                    {
                        isvalid=true;                      
                        $('#msg').html(`成功，jdCookie已存在，见下:<br/> ${data}`)
                        $('#qrcode').html('')
                    }else{
                        isvalid=false; 
                        ({url,token,cookies,okl_token}=data)
                        console.log(url,token,cookies,okl_token)
                        if(!qrcode){
                            qrcode=new QRCode(document.getElementById("qrcode"), url);
                        }else{
                            qrcode.clear();
                            qrcode.makeCode(url)
                        }
                        $('#msg').html('有效期3分钟内,请尽快打开 京东APP 确认登录，然后点击获取凭证');
                        
                    }
                
                })    
        }else{
            $('#msg').html('请输入名字')  
        }
        

    }
    
    
    function getcookie(){     
        if(!isvalid && !!token && !!okl_token && !!cookies ){
            $.post(routes.getJdCookie, {uname,token,okl_token,cookies}, function(data){
                $('#msg').html(data)
            })
        }else{
            $('#msg').html("先点击查询该用户名是否需要登录")
        }
    }


    $(function () {	
		routes = JSON.parse('<%- routes %>');		
	})
    </script>
  
</head>
<body>
    <%- include('navbar.ejs') -%>

    <div class="input-group">

<p>识别码：建议微信和手机号等唯一码，用于查询自己是否京东有效。</p>
    <span class="input-group-text">识别码</span>
   
    <input type="text" id="weixin"  >

    <a class="btn btn-success" onclick="qrcodeqenerate();"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>查询</a>
    <a class="btn btn-success" onclick="getcookie();"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>获取凭证</a>

</div>

<div id="msg" style="color: red; margin: 20px;" ></div>


     <div id="qrcode" style="margin: 20px;"></div>

  
    

     
</body>
</html>